<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" package="com.samsung.android.game.gamehome" platformBuildVersionCode="36" platformBuildVersionName="16">
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.MANAGE_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.msc.openprovider.OpenContentProvider.READ_CONTENT"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" android:protectionLevel="privileged|signature"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.wssnps.permission.COM_WSSNPS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <permission android:name="com.samsung.android.game.gamehome.permission.READ_CONTENT" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.samsung.android.game.gamehome.permission.WRITE_CONTENT" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.samsung.android.game.gamehome.permission.READ_PUBLIC_CONTENT"/>
    <permission android:name="com.samsung.android.game.gamehome.permission.WRITE_PUBLIC_CONTENT"/>
    <permission android:name="com.samsung.android.game.gamehome.permission.ENABLE_GAMEHOME" android:protectionLevel="signature"/>
    <permission android:name="com.samsung.android.game.gamehome.permission.INVOKE" android:protectionLevel="signature"/>
    <permission android:name="com.samsung.android.game.gamehome.permission.HUN" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.samsung.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.samsung.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.samsung.android.permission.LAUNCH_SETTING_GAMES"/>
    <uses-permission android:name="com.samsung.sea.retailagent.permission.RETAILMODE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.samsung.android.iap.permission.BILLING"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.READ_SEARCH_INDEXABLES"/>
    <permission android:name="com.samsung.android.game.gamehome.accesspermission.GHOME_EVENT"/>
    <uses-permission android:name="com.samsung.android.dbsc.permission.LAUNCH"/>
    <permission android:name="com.samsung.android.game.gamehome.event.permission"/>
    <uses-permission android:name="com.samsung.android.game.cloudgame.sdk.event.permission"/>
    <uses-permission android:name="android.permission.BACKUP"/>
    <uses-permission android:name="com.samsung.android.samsungaccount.permission.ACCOUNT_MANAGER"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.sec.spp.permission.TOKEN_9c2dc49bbc75527c47fa305581b58319b0f22783508369f0c17c13fc371196c28b7be10417f99c912eee49199b5b0f3994efe431f9d449e3fcb585f21df8c761d7d089dd0b4e08f94a34556482e71a1d3a99a2c40bed0166caaa41c4132d0b7d53e4d6a796db72688ae19ac4491fec5ef8c1262668797a8f0d92f79330db84fe"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.samsung.android.game.gamehome.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.samsung.android.game.gamehome.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_TOPICS"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.INSERT"/>
            <data android:mimeType="vnd.android.cursor.dir/event"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="sms"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL"/>
            <data android:path="tel:"/>
        </intent>
        <package android:name="com.samsung.android.smp.register"/>
        <package android:name="com.sec.spp.push"/>
    </queries>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.samsung.android.mas.setting.ContentProvider.READ_VALUE"/>
    <uses-permission android:name="com.samsung.android.dbsc.provider.permission.WRITE_GCF_VALUE"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:icon="@mipmap/ic_game_launcher" android:label="@string/app_name" android:name="com.samsung.android.game.gamehome.GameLauncherApplication" android:requestLegacyExternalStorage="true" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <meta-data android:name="runtime.manifest.overlay" android:resource="@xml/runtime_manifest_overlay"/>
        <meta-data android:name="com.samsung.android.multiuser.install_only_owner" android:value="true"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-2937613396445963~2223184830"/>
        <activity android:exported="true" android:hardwareAccelerated="true" android:name="com.samsung.android.game.gamehome.app.MainActivity" android:theme="@style/AppCompat.Start">
            <meta-data android:name="com.sec.android.app.launcher.icon_theme" android:value="themeColor"/>
            <meta-data android:name="com.samsung.keyguard.shortcut.icon" android:resource="@drawable/game_launcher_monochrome_8_5_flat"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="com.samsung.android.game.gamehome" android:scheme="gamelauncher"/>
            </intent-filter>
        </activity>
        <activity-alias android:exported="true" android:name="com.samsung.android.game.gamehome.main.MainActivity" android:targetActivity="com.samsung.android.game.gamehome.app.MainActivity"/>
        <activity android:exported="true" android:label="@string/game_launcher_settings" android:name="com.samsung.android.game.gamehome.app.setting.SettingsActivity" android:theme="@style/SeslAppcompat.Preference">
            <meta-data android:name="com.samsung.android.multiuser.install_only_owner" android:value="true"/>
            <intent-filter>
                <action android:name="com.sec.android.intent.action.SEC_APPLICATION_SETTINGS"/>
                <category android:name="com.sec.android.intent.category.SEC_APPLICATION_SETTINGS"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:launchMode="singleTask" android:name="com.samsung.android.game.gamehome.app.bookmark.BookmarkActivity" android:theme="@style/SeslAppcompat" android:windowSoftInputMode="adjustResize">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter android:label="@string/bookmark_title">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter android:label="@string/bookmark_title">
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/*"/>
            </intent-filter>
        </activity>
        <activity android:name="com.samsung.android.game.gamehome.app.instantgames.InstantGamesActivity" android:theme="@style/SeslAppcompat"/>
        <activity android:name="com.samsung.android.game.gamehome.app.category.CategoryGamesActivity" android:theme="@style/SeslAppcompat"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.samsung.android.game.gamehome.app.notice.NoticeActivity" android:theme="@style/SeslAppcompat"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.samsung.android.game.gamehome.app.event.EventActivity" android:theme="@style/SeslAppcompat"/>
        <activity android:name="com.samsung.android.game.gamehome.app.continuousplay.ContinuousPlayActivity" android:theme="@style/SeslAppcompat"/>
        <activity android:name="com.samsung.android.game.gamehome.app.notification.NotificationListActivity" android:theme="@style/SeslAppcompat"/>
        <activity android:exported="true" android:name="com.samsung.android.game.gamehome.app.mygames.addapps.LibraryAddActivity" android:theme="@style/SeslAppcompat" android:windowSoftInputMode="adjustNothing">
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>
        <activity android:name="com.samsung.android.game.gamehome.app.mygames.addapps.setting.LibrarySettingActivity" android:theme="@style/SeslAppcompat.Preference"/>
        <activity android:name="com.samsung.android.game.gamehome.app.oobe.TermsActivity" android:theme="@style/SeslAppcompat"/>
        <activity android:name="com.samsung.android.game.gamehome.app.detail.DetailActivity" android:theme="@style/SeslAppcompat"/>
        <activity android:name="com.samsung.android.game.gamehome.app.detail.DetailScreenShotListActivity" android:theme="@style/SeslAppcompat"/>
        <activity android:name="com.samsung.android.game.gamehome.app.instantdetail.InstantDetailActivity" android:theme="@style/SeslAppcompat"/>
        <activity android:name="com.samsung.android.game.gamehome.app.instantdetail.FullscreenVideoActivity" android:theme="@style/SeslAppcompat"/>
        <activity android:name="com.samsung.android.game.gamehome.app.profile.ProfileActivity" android:theme="@style/SeslAppcompat"/>
        <activity android:name="com.samsung.android.game.gamehome.app.profile.setting.GamerProfileSettingsActivity" android:theme="@style/SeslAppcompat"/>
        <activity android:label="@string/main_home_my_games_card_header" android:name="com.samsung.android.game.gamehome.app.mygames.MyGamesActivity" android:theme="@style/SeslAppcompat"/>
        <activity android:label="@string/edit_profile" android:name="com.samsung.android.game.gamehome.app.profile.edit.EditProfileActivity" android:theme="@style/SeslAppcompat" android:windowSoftInputMode="adjustResize|stateUnchanged"/>
        <activity android:name="com.samsung.android.game.gamehome.app.main.curation.youtube.YoutubeListActivity" android:theme="@style/SeslAppcompat"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" android:launchMode="singleTop" android:name="com.samsung.android.game.gamehome.app.main.curation.youtube.YoutubePlayerActivity" android:theme="@style/SeslAppcompat"/>
        <activity android:label="@string/test_settings" android:name="com.samsung.android.game.gamehome.app.test.TestActivity" android:parentActivityName="com.samsung.android.game.gamehome.app.bookmark.BookmarkActivity" android:theme="@style/SeslAppcompat.Preference"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.samsung.android.game.gamehome.receiver.TouchWizIntentReceiver" android:permission="com.samsung.android.game.gamehome.permission.HUN">
            <intent-filter>
                <action android:name="com.sec.android.intent.action.USER_FOLDERING"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.samsung.android.game.gamehome.app.oobe.OobeNeverRunNotificationActionReceiver"/>
        <receiver android:exported="false" android:name="com.samsung.android.game.gamehome.receiver.BootCompletedReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.samsung.android.game.gamehome.receiver.DesktopModeChangeReceiver">
            <intent-filter>
                <action android:name="android.app.action.ENTER_KNOX_DESKTOP_MODE"/>
                <action android:name="android.app.action.EXIT_KNOX_DESKTOP_MODE"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.samsung.android.game.gamehome.receiver.SmartSwitchReceiver" android:permission="com.wssnps.permission.COM_WSSNPS">
            <intent-filter>
                <action android:name="com.samsung.android.intent.action.REQUEST_BACKUP_GAMELAUNCHER"/>
                <action android:name="com.samsung.android.intent.action.REQUEST_RESTORE_GAMELAUNCHER"/>
                <action android:name="com.samsung.android.game.action.SMART_SWITCH.GAMELAUNCHER_ENABLE"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.samsung.android.game.gamehome.receiver.gos.GosEventReceiver" android:permission="android.permission.HARDWARE_TEST">
            <intent-filter>
                <action android:name="com.samsung.android.game.action.GOS.COMMON_EVENT"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.samsung.android.game.gamehome.receiver.GameLauncherAlarmReceiver">
            <intent-filter>
                <action android:name="gamelauncher.common.alarm"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.samsung.android.game.gamehome.receiver.DashboardWorkAlarmReceiver">
            <intent-filter>
                <action android:name="com.samsung.android.game.gamehome.DASHBOARD_FETCH_SERVER_DATA"/>
                <action android:name="com.samsung.android.game.gamehome.DASHBOARD_SHOW_NOTIFICATION"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.samsung.android.game.gamehome.receiver.PackageIntentReceiver"/>
        <receiver android:exported="false" android:name="com.samsung.android.game.gamehome.receiver.LocaleChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.samsung.android.game.gamehome.receiver.DataResetRequestReceiver" android:permission="com.samsung.sea.retailagent.permission.RETAILMODE">
            <intent-filter>
                <action android:name="com.samsung.sea.rm.DEMO_RESET_STARTED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.samsung.android.game.gamehome.receiver.FolderingNotificationActionReceiver"/>
        <receiver android:exported="true" android:name="com.samsung.android.game.gamehome.receiver.SamsungAccountDataChangeReceiver">
            <intent-filter android:priority="999">
                <action android:name="com.samsung.account.SAMSUNGACCOUNT_SIGNIN_COMPLETED"/>
                <action android:name="com.samsung.account.SAMSUNGACCOUNT_SIGNOUT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.samsung.android.game.gamehome.receiver.CloudSdkEventReceiver" android:permission="com.samsung.android.game.gamehome.event.permission">
            <intent-filter>
                <action android:name="com.samsung.android.game.cloudgame.sdk.BNR_SUPPORT"/>
                <action android:name="com.samsung.android.game.cloudgame.sdk.INSTALL_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.samsung.android.game.gamehome.receiver.GameToolsEventReceiver" android:permission="com.samsung.android.game.gamehome.permission.INVOKE">
            <intent-filter>
                <action android:name="com.samsung.android.game.action.GAME_TOOLS.VOLUME_CHANGED"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:foregroundServiceType="shortService" android:name="com.samsung.android.game.gamehome.service.AddShortcutService"/>
        <service android:enabled="true" android:exported="false" android:foregroundServiceType="shortService" android:name="com.samsung.android.game.gamehome.service.VolumeControlService"/>
        <service android:enabled="true" android:exported="true" android:foregroundServiceType="shortService" android:name="com.samsung.android.game.gamehome.service.GameToolsIntentService" android:permission="com.samsung.android.game.gamehome.permission.INVOKE">
            <intent-filter>
                <action android:name="com.samsung.android.game.action.GAME_TOOLS.GAMELAUNCHER_ENABLE"/>
                <action android:name="com.samsung.android.game.action.GAME_TOOLS.VOLUME_CHANGED"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="true" android:foregroundServiceType="shortService" android:name="com.samsung.android.game.gamehome.service.InstantPlaysIntentService">
            <intent-filter>
                <action android:name="com.samsung.android.game.action.INSTANT_PLAYS.VOLUME_CHANGED"/>
            </intent-filter>
        </service>
        <service android:exported="true" android:name="com.samsung.android.game.gamehome.receiver.NotificationListener" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" android:process="@string/process_name_notification_listener">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.samsung.android.game.gamehome.receiver.NotificationListenerOverR" android:process="@string/process_name_notification_listener"/>
        <provider android:authorities="com.samsung.android.game.gamehome.data" android:exported="true" android:name="com.samsung.android.game.gamehome.provider.GameLauncherProvider" android:readPermission="com.samsung.android.game.gamehome.permission.READ_CONTENT" android:writePermission="com.samsung.android.game.gamehome.permission.WRITE_CONTENT"/>
        <provider android:authorities="com.samsung.android.game.gamehome.public.data" android:exported="true" android:name="com.samsung.android.game.gamehome.provider.PublicContentProvider" android:readPermission="com.samsung.android.game.gamehome.permission.READ_PUBLIC_CONTENT" android:writePermission="com.samsung.android.game.gamehome.permission.WRITE_PUBLIC_CONTENT"/>
        <provider android:authorities="com.samsung.android.game.gamehome.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <provider android:authorities="com.samsung.android.game.gamehome.globalsettingsprovider" android:exported="true" android:grantUriPermissions="true" android:name="com.samsung.android.game.gamehome.provider.GlobalSettingsProvider" android:permission="android.permission.READ_SEARCH_INDEXABLES">
            <meta-data android:name="com.samsung.android.multiuser.install_only_owner" android:value="true"/>
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER"/>
            </intent-filter>
            <meta-data android:name="com.samsung.android.settings.require_settings_key" android:value="top_level_game_launcher_settings"/>
            <meta-data android:name="com.samsung.android.settings.require_settings_title" android:value="@string/game_launcher_settings"/>
            <meta-data android:name="com.android.settings.require_partial_index" android:value="true"/>
        </provider>
        <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false"/>
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="true"/>
        <meta-data android:name="SamsungBasicInteraction" android:value="SEP10"/>
        <meta-data android:name="com.sec.android.app.unblockdisabling" android:value="true"/>
        <meta-data android:name="com.samsung.android.notification.blockable" android:value="true"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:label="@string/promotions_title" android:name="com.samsung.android.game.gamehome.gmp.ui.promotions.PromotionsActivity" android:theme="@style/GmpTheme"/>
        <activity android:configChanges="density|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.samsung.android.game.gamehome.gmp.ui.web.GmpWebActivity" android:theme="@style/GmpTheme"/>
        <service android:exported="false" android:name="com.samsung.android.game.gamehome.gmp.service.SmpFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:exported="false" android:name="com.samsung.android.game.gamehome.gmp.receiver.SmpEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="com.samsung.android.sdk.smp.pushRegistrationResult"/>
                <action android:name="com.samsung.android.sdk.smp.smpInitResult"/>
                <action android:name="com.samsung.android.sdk.smp.smpEvent"/>
                <action android:name="com.samsung.android.sdk.smp.pushTokenChanged"/>
            </intent-filter>
        </receiver>
        <service android:name="com.samsung.android.sdk.smp.SmpJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.samsung.android.sdk.smp.SmpService"/>
        <receiver android:exported="false" android:name="com.samsung.android.sdk.smp.SmpReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.samsung.android.game.gamehome.gmp.receiver.SamsungAccountEventReceiver">
            <intent-filter>
                <action android:name="com.samsung.account.SAMSUNGACCOUNT_SIGNOUT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.samsung.android.game.gamehome.gmp.receiver.GmpLocaleChangeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.samsung.android.game.gamehome.gmp.receiver.GmpNotificationChangeReceiver">
            <intent-filter>
                <action android:name="android.app.action.APP_BLOCK_STATE_CHANGED"/>
                <action android:name="android.app.action.NOTIFICATION_CHANNEL_BLOCK_STATE_CHANGED"/>
                <action android:name="android.app.action.NOTIFICATION_CHANNEL_GROUP_BLOCK_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.samsung.android.mobileservice.AppId" android:value="2tf1wtd23k"/>
        <meta-data android:name="com.samsung.android.mobileservice.IntentRequest" android:value="true"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <provider android:authorities="com.samsung.android.game.gamehome.mobileadsinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.android.gms.ads.MobileAdsInitProvider"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.ads.AdService"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.OutOfContextTestingActivity"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:name="com.google.android.gms.ads.NotificationHandlerActivity" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING" android:value="true"/>
        <meta-data android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION" android:value="true"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <uses-library android:name="android.ext.adservices" android:required="false"/>
        <provider android:authorities="com.samsung.android.game.gamehome.firebaseperfprovider" android:exported="false" android:initOrder="101" android:name="com.google.firebase.perf.provider.FirebasePerfProvider"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <provider android:authorities="com.samsung.android.game.gamehome.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:name="com.samsung.android.mas.internal.ui.InterstitialHtmlAdActivity" android:theme="@style/InterstitialAdStyle">
            <intent-filter>
                <action android:name="com.samsung.android.mas.OPEN_HTML_AD"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:name="com.samsung.android.mas.internal.ui.InterstitialHtmlTestAdActivity" android:theme="@style/InterstitialAdStyle">
            <intent-filter>
                <action android:name="com.samsung.android.mas.OPEN_HTML_TEST_AD"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:name="com.samsung.android.mas.internal.ui.PolicyPage" android:theme="@style/PolicyPage">
            <intent-filter>
                <action android:name="com.samsung.android.mas.OPEN_POLICY_PAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="com.samsung.android.mas.internal.ui.DevSettingsPage" android:screenOrientation="portrait" android:theme="@style/TestSettingPage"/>
        <activity android:configChanges="density|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:name="com.samsung.android.mas.internal.ui.InterstitialAdActivity" android:screenOrientation="behind" android:theme="@style/InterstitialAdStyle">
            <intent-filter>
                <action android:name="com.samsung.android.mas.OPEN_INTERSTITIAL_AD"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="com.samsung.android.mas.internal.cmpui.TcfFragmentWrappingActivity" android:screenOrientation="behind" android:theme="@style/TcfActivityStyle" android:windowSoftInputMode="adjustPan"/>
        <activity android:exported="false" android:name="com.samsung.android.mas.internal.cmpui.GcfPcWrappingActivity" android:screenOrientation="behind" android:theme="@style/GcfActivityStyle"/>
        <meta-data android:name="com.samsung.android.sdk.smp.sdkv" android:value="3.3.11.2"/>
        <meta-data android:name="com.samsung.android.sdk.smp.sdkvint" android:value="3031102"/>
        <meta-data android:name="SPDE.build.signature" android:value="4eb9ad21fd79eb918b283aac0359c5b58d7c4497/178659455/sepBasic-release/GameHome-808000-8.0.01"/>
        <meta-data android:name="SPDE.env.version" android:value="8.7.3/G36.1.14/1.2.10"/>
    </application>
</manifest>